<!DOCTYPE html>
<html>
  <head>
    <title>Date Money Calculator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .container {
        margin: 10% 10%;
        display: flex;
        flex-direction: column;
      }
      .header-container {
        display: flex;
        justify-content: center;
        margin: 80% 0%;
      }
      .money {
        font-size: 5.5vh;
      }
      .button-container {
        display: flex;
      }
      .default-btn {
        width: 50%;
        font-size: 2.2vh;
        margin: 0.5vh 0.5vh;
      }
      .modal-on {
        display: flex;
      }
      .modal-off {
        display: none;
      }
      .common-modal {
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 0.1rem solid #E2E2E2;
        border-radius: 1.2rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        background: #fff;
      }
      .price-modal {
        height: 20%;
        width: 90%;
      }
      .config-modal {
        height: 30%;
        width: 90%;
      }
      .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .modal-line {
        width: 100%;
        font-size: 2.2vh;
        font-weight: bold;
      }
      .price-input {
        font-size: 2.2vh;
        border: 0.1rem solid #E2E2E2;
      }
      .modal-btn-container {
        margin-top: 2vh;
        display: flex;
        width: 100%;
      }
      .modal-btn-container > button {
        margin: 0;
      }
      .config-description {
        font-size: 1.5vh;
        text-wrap: normal;
      }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/javascripts/api.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header-container">
        <h1 class="money"><span id="money-value"><%= restMoney.toLocaleString("ko-KR") %></span> <span style="font-size: 3.8vh">₩</span></h1>
      </div>
      <div class="button-container">
        <button type="button" class="btn btn-primary default-btn" onclick="onClickChargeMoney(true)">주중</button>
        <button type="button" class="btn btn-secondary default-btn" onclick="onClickChargeMoney(false)">주말</button>
      </div>
      <div class="button-container">
        <button type="button" style="width: 100%" class="btn btn-warning default-btn" onclick="onClickRollbackChange()">되돌리기</button>
      </div>
      <button style="font-size: 2.2vh; margin-top: 2vh" type="button" class="btn btn-light" onclick="onClickOpenRecordPayPopup(true)">소비 기록</button>
      <button style="font-size: 2.2vh; margin-top: 1vh" type="button" class="btn btn-info" onclick="onClickOpenConfigPopup(true)">충전금액설정</button>
    </div>
    <div class="common-modal price-modal modal-off">
      <div class="modal-container">
        <div class="modal-line">소비금액(원)</div>
        <input id="priceInput" class="price-input" type="text" onkeyup="onKeyUpPriceInput(event)" />
        <div class="modal-btn-container">
          <button type="button" class="btn btn-primary default-btn" onclick="onClickSpendMoneySave()">저장</button>
          <button type="button" class="btn btn-secondary default-btn" onclick="onClickOpenRecordPayPopup(false)">닫기</button>
        </div>
      </div>
    </div>
    <div class="common-modal config-modal modal-off">
      <div class="modal-container">
        <div class="modal-line">주중(원)</div>
        <input id="configWeekday" class="price-input" type="text" onkeyup="onKeyUpPriceInput(event)" value="<%= weekdayPrice.toLocaleString('ko-KR') %>" />
        <div class="modal-line">주말(원)</div>
        <input id="configWeekend" class="price-input" type="text" onkeyup="onKeyUpPriceInput(event)" value="<%= weekendPrice.toLocaleString('ko-KR') %>" />
        <br/>
        <p class="config-description">0이 아닌 숫자를 입력하여 주세요.</p>
        <div class="modal-btn-container">
          <button type="button" class="btn btn-primary default-btn" onclick="onClickSaveMoneyConfig()">저장</button>
          <button type="button" class="btn btn-secondary default-btn" onclick="onClickOpenConfigPopup(false)">닫기</button>
        </div>
      </div>
    </div>
  </body>
</html>
